<div class="app-header" >
    <div>Logo</div>
    <div class="menu-item">
        <NavLink class="link" href="/" >Home</NavLink>
        <NavLink href="/">About us</NavLink>
        <NavLink href="/">Contact</NavLink>
        <NavLink href="/">Sign In</NavLink>
        <NavLink href="/">Sign Up</NavLink>

    </div>
</div>

@code {

}
